.box {
	border-color: #0080FF;
	border-style: solid;
	border-width: 1px;
}

body {
    font-size: 100%;
    line-height: 1.4; 
	background: #f1f1f1; 
	margin: 0; 
	padding: 0 0 2em 0; 
}

#page {
	/*font-size: 1em; */
	margin: 0 auto; 
	border-radius: 0 0 1em 1em;
	box-shadow: 0 0 20px rgba(50, 50, 50, .5);  
	overflow: hidden;	
	width: 95%; 
	/*max-width: 60em; */
}

header {
	background-color: #d1d1d1;
	/*margin: 0;*/
	padding: 1em 4.1666667% 0 4.1666667%; /* 40px / 960px = 4.1666667% */
	/*position: relative;*/
	/*overflow: visible;*/
}

h1 {
	font-family: "Merriweather", Georgia; 
	font-weight: 900;
	font-size: 3em;
	margin: 0.6667em 0 0.33333em 0; /* 24px above, 16px below */
	color: #555; 
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}
header h1 {
	font-style: italic;
	margin: 0.25em 0; 
	line-height: 1.25em;
	font-size: 5em;
}